@charset "UTF-8";


.section1{width: 100%; height: 400px;  position: relative;}
.section1_slidebox1{width: 100%; height: 400px; background-color: #e5f7eb; position: absolute; z-index: 1;}
.section1_slide{width: 960px; height: 400px; display: flex; flex-direction: row;}
.section1_slide div{width: 320px; height: 400px; }
.section1_slide div img{width: 100%; height: 100%;}
.section1_slidebox2{width: 100%; height: 400px; background-color: #e6f4ff; position: absolute; z-index: 1; display: none; top: 0; left: 0;}
#dots{width: 50px; height: 20px; position: absolute; bottom: 1%; left: 50%;  z-index: 1; transform: translateX(-50%); display: flex; flex-direction: row; justify-content: center; align-items: center;}
.dot{width: 10px; height: 10px; border-radius: 50%; background-color: gray; display: block; cursor: pointer;}
.active{width: 30px; height: 10px; border-radius: 15px; background-color: #285a35;  transition: 0.4s ease-in-out;}

#main_contents{width: 100%; height: 2800px; position: relative; padding-top: 20px;
                display: flex; flex-direction: column; justify-content: space-evenly;
                align-items: center; background-repeat:space; }

.section2{width: 960px; height: 300px;  position: relative; display: flex; flex-direction: column; justify-content: space-evenly; overflow: hidden;}
#section2_title1{margin-left: 0; color: #505050;}
.section2_slidebox{width: 3840px; height: 250px; background-color: #FBF3E6; display: flex; flex-direction: row; }
.section2_slidebox1{width: 960px; height: 250px; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; cursor: pointer;}
.section2_thumbnail{width: 134px; height: 194px;}
.section2_thumbnail img{width: 100%; height: 100%;}
.section2_textbox{width: 750px; height: 200px; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; }
.section2_titlebox{width: 750px;}
.section2_title{color: #3a3a3a;}
.section2_pricebox{width: 750px; font-size: 14px; color: #3a3a3a;}
.section2_price{font-weight: bold; color: #FE0919; font-size: 16px;}
.section2_string{font-size: 14px; color: #3a3a3a;}
.section2_slidebox2{width: 960px; height: 250px; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; cursor: pointer;}
.section2_slidebox3{width: 960px; height: 250px; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; cursor: pointer;}
.section2_slidebox4{width: 960px; height: 250px; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; cursor: pointer;}
.prev{width: 30px; height: 80px; position: absolute; top: 50%; left: 0%; transform: translateY(-50%); display: flex; justify-content: center; font-size: 50px;  
    border-radius: 0 10px 10px 0px; color:  white; background-color: gray; opacity: 0.6; font-weight: lighter; padding: 10px; cursor: pointer; display: none;}
.next{width: 30px; height: 80px; position: absolute; top: 50%; right: 0%; transform: translateY(-50%);  display: flex; justify-content: center;  font-size: 50px;  
    border-radius: 10px 0px 0px 10px; color:  white; background-color: gray; opacity: 0.6; font-weight: lighter; padding: 10px; cursor: pointer; display: none;}

.section3{width: 960px; height: 777px; }
#section3_category{width: 960px; height: 46px; display: flex; flex-direction: row; align-items: center; background-color: white;  }
#section3_category .categorys{width: 240px; height: 46px; display: flex; justify-content: center; align-items: center; color: #3a3a3a; font-size: 15px; font-weight: 600; cursor: pointer;
                                position: relative; border-top: 1px solid #b1b1b1; border-bottom: 1px solid #b1b1b1;}
.ctg1{border-left: 1px solid #b1b1b1;}   
.ctg4{border-right: 1px solid #b1b1b1;}                             
#section3_category span{color: #b1b1b1; width: auto; position: absolute; right: -2px;}
#section3_menus{width: 960px; height: 731px;  background-color: #daefe0;}
menu{width: 940px; height: 710px; display: flex; align-items: center;}
.section3_ul1{width: 940px; height: 710px; display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: center;}
.section3_ul1 .section3_li{width: 230px; height: 350px; float: left; display: flex;  flex-direction: column; align-items: center; justify-content: space-evenly; }
.section3_ul1 .section3_img{width: 162px; height: 230px; cursor: pointer; transition: 0.2s ease-in-out; box-shadow: 5px 5px 10px gray; position: relative;}
.section3_ul1 .section3_img img{width: 100%; height: 100%;}
.section3_text{width: 162px; height: 60px; font-size: 15px;}
.section3_text span{font-size: 12px;}
.section3_text{font-size: 14px;}
.section3_text p{font-weight: 600;}
.section3_menu2{display: none;}
.section3_menu3{display: none;}
.section3_menu4{display: none;}
.active2{ background-color: #daefe0; transition: 0.4s ease-in-out; border-left: none; border-right: none; border-bottom: none;}
.categorys:hover{background-color: #daefe0; transition: 0.4s ease-in-out;}
.mouseover{width: 162px; height: 45px; background-color: black; display: flex; flex-direction: row; align-items: center; justify-content: space-evenly; 
            position: absolute; bottom: 0; opacity: 0; }
.mouseover button{width: 70px; height: 28px; border:1px solid white; font-size: 12px; background-color: unset; color: white; cursor: pointer; font-weight: bold;}
.mouseover button:hover{color: black; background-color: white; transition: 0.5s ease-in-out;}



.section4{width: 960px; height: 300px; display: flex; flex-direction: column; justify-content: space-evenly; position: relative; overflow: hidden;}
#section4_title{width: 960px; height: 30px; position: relative;}
#section4_h4{color: #3a3a3a; }
#section4_title button{position: absolute; right: 0; top: 0; width: 30px; height: 30px; color: #333; font-size: 25px; font-weight: lighter; border: 1px solid lightgray;
                 background-color: white; cursor: pointer;}
#section4_slidebox{width: 1920px; height: 254px; background-color: #dae8e8; display: flex; flex-direction: row; }                  
.section4_slide{width: 960px; height: 254px;}
.section4_slide ul{width: 960px; height: 254px; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;}
.section4_slide ul li{width: 156px; height: 226px; border: 1px solid lightgray; box-shadow: 1px 1px 5px gray; cursor: pointer;}
.section4_slide ul li:hover{box-shadow: 1px 5px 15px gray; transition: 0.2s ease-in-out;}
.section4_slide ul li img{width: 100%; height: 100%;}
.prev2{width: 30px; height: 80px; position: absolute; top: 55%; left: 0%; transform: translateY(-50%); display: flex; justify-content: center;  font-size: 50px;  
    border-radius: 0 10px 10px 0px; color:  white; background-color: #333; opacity: 0.8; font-weight: lighter; padding: 10px; cursor: pointer; display: none;}
.next2{width: 30px; height: 80px; position: absolute; top: 55%; right: 0%; transform: translateY(-50%);  display: flex; justify-content: center;  font-size: 50px;  
    border-radius: 10px 0px 0px 10px; color:  white; background-color: #333; opacity: 0.8; font-weight: lighter; padding: 10px; cursor: pointer; display: none;}



.section5{width: 960px; height: 300px; overflow: hidden;}
#section5_title{width: 960px; height: 30px; position: relative;}
#section5_h4{color: #3a3a3a; }
#section5_title #section5_btnbox{width: 55px; position: absolute; right: 0; top: 0; display: flex; flex-direction: row; justify-content: space-evenly;}
#section5_title #section5_btnbox button{width: 20px; height: 20px; color: #333; font-size: 12px; font-weight: lighter; border: 1px solid lightgray;
    background-color: white; cursor: pointer;}
#section5_slidebox{width: 1920px; height: 222px; background-color: #deeadc; display: flex; flex-direction: row;}
.section5_slide{width: 960px; height: 222px; display: flex; flex-direction: row; justify-content: space-around; align-items: center;}
.section5_contents{width: 450px; height: 200px; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;}
.contents_title{width: 450px; height: 30px; text-align: center;}
.contents_title p{font-size: 14px; color: #333; cursor: pointer;}
.contents_title p:hover{color: #285a35; text-decoration: underline;}
.section5_thumbnailbox{width: 380px; height: 156px; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;}
.section5_slide span{width: 1px; height: 156px; background-color: lightgray;}
.section5_thumbnail{width: 100px; height: 150px; cursor: pointer; box-shadow: 1px 1px 3px gray;}
.section5_thumbnail:hover{box-shadow: 1px 8px 15px gray; transition: 0.3s ease-in-out; border: 1px solid #333;}
.section5_thumbnail img{width: 100%; height: 100%;}                     


.section6{width: 960px; height: 370px; border-bottom: 1px solid lightgray;}
#section6_title{width: 960px; height: 30px; position: relative; margin-bottom: -10px;}
#section6_h4{color: #3a3a3a; }
#section6_slidebox{width: 960px; height: 350px; display: flex; flex-direction: column; justify-content: space-evenly; }
.section6_slide{width: 960px; height: 210px; background-color: #fff8ed; position: relative; overflow: hidden; cursor: pointer;}
.section6_slide:hover{border: 1px solid #3a3a3a; min-width: 960px; min-height: 210px;}
.section6_slide ul{width: 3840px; height: 210px; display: flex; flex-direction: row;}
.section6_slide ul li{width: 960px; height: 210px; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;}
.section6_thumbnail{width: 105px; height: 158px; box-shadow: 1px 1px 8px gray; transition: 0.3s ease-in-out;}
.section6_thumbnail img{width: 100%; height: 100%;}
.section6_textbox{width: 750px; height: 157px;  margin-left: -15px;}
.section6_textbox:nth-of-type(2) {font-size: 12px; color: #6d6b6b;}
.section6_title{color: #222; font-weight: bold; font-size: 20px;}
.section6_price{font-size: 14px; font-weight: 900; color: #ff0909;}
.section6_text{font-size: 13px; color: #6d6b6b;}
.prev4{width: 25px; height: 55px; position: absolute; top: 50%; left: 0%; transform: translateY(-50%);   font-size: 38px;  
    border-radius: 0 10px 10px 0px; color:  white; background-color: #333; opacity: 0.4; font-weight: lighter; padding: 10px; cursor: pointer; display: none;}
.next4{width: 25px; height: 55px; position: absolute; top: 50%; right: 0%; transform: translateY(-50%);  font-size: 38px;  
    border-radius: 10px 0px 0px 10px; color:  white; background-color: #333; opacity: 0.4; font-weight: lighter; padding: 10px; cursor: pointer; display: none;}

.section6_subslide{width: 960px; height: 104px;  overflow: hidden;}
.section6_subslide ul{width: 1267.2px; height: 104px; display: flex; flex-direction: row; }
.section6_subslide ul li{width: 316.8px; height: 104px; display: flex; flex-direction: row;  align-items: center; }
.section6_subthumbnail{width: 70px; height: 100px; box-shadow: 1px 1px 8px gray;}
.section6_subthumbnail:hover{border: 1px solid #333;}
.section6_subthumbnail img{width: 100%; height: 100%;}
.section6_subtextbox{width: 202px; height: 100px; display: flex; flex-direction: column; justify-content: center; margin-left: -15px;}
.section6_subtitle{color: #333; font-size: 12px; margin-left: 15px; font-weight: 600;}
.section6_subtitle:hover{color:#285a35;text-decoration: underline;}
.section6_subauthors{color: #505050; font-size: 11px; margin-left: 15px;}


.section7{width: 960px; height: 428px; display: flex; flex-direction: column; justify-content: space-evenly;}
#section7_title{width: 960px; height: 30px; position: relative; margin-bottom: -10px;}
#section7_h4{color: #3a3a3a; }
#section7_contents{width: 960px; height: 230px; background-color: #eeeeee; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; cursor: pointer;}
#section7_contents:hover{border: 1px solid #3a3a3a;}
.section7_thumbnail{width: 105px; height: 158px; }
.section7_thumbnail img{width: 100%; height: 100%;}
.section7_textbox{width: 750px; height: 157px; margin-left: -15px;}
.section7_contentstitle{color: #222; font-weight: bold; font-size: 20px;}
.discount{color: #ff0909; font-size: 14px; }
.section7_textbox:nth-of-type(2){font-size: 12px; color: #6d6b6b;}
.section7_price{text-decoration: line-through;}
.section7_text{font-size: 13px;}
.onlyblack{color: #222;}

#section7_contents2{width: 960px; height: 104px; background-color: unset;}
#section7_contents2 ul{width: 960px; height: 100px; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; }
#section7_contents2 ul li{width: 316.8px; height: 104px; display: flex; flex-direction: row;  align-items: center; }
.section7_subthumbnail{width: 70px; height: 100px; box-shadow: 1px 1px 8px gray; cursor: pointer;}
.section7_subthumbnail:hover{border: 1px solid #333;}
.section7_subthumbnail img{width: 100%; height: 100%;}
.section7_subtextbox{width: 202px; height: 100px; display: flex; flex-direction: column; justify-content: center; margin-left: -15px; }
.section7_subtitle{color: #333; font-size: 12px; margin-left: 15px; font-weight: 600; cursor: pointer;}
.section7_subtitle:hover{color:#285a35;text-decoration: underline;}
.section7_subtext{color: #505050; font-size: 11px; margin-left: 15px;}

.section8{width: 960px; height: 126px; background-color: unset; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; margin-top: 50px;}
.icon{width: 88px; height: 126px; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;margin: 0 40px;}
.icon_img{width: 88px; height: 87px; cursor: pointer;}
.icon_img img{width: 100%; height: 100%;}
.icon span{width: 90px; height: 26px; text-align: center; font-size: 18px; font-weight: bold; color: #2a6137; margin-top: 10px; cursor: pointer;}




