@charset "UTF-8";

#section_container{width: 100%; height: auto; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; position: relative; background-color: white;}

.section1{width: 100%; height: 580px; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;  }
#section1_category{width: 960px; height: 32px;}
#section1_categorybox{width: 650px; height: 32px; display: flex; flex-direction: row; justify-content: center; align-items: center; margin-left: 0; position: absolute; z-index: 1;}
#section1_home{width: auto; height: 26px; color: #333; font-size: 14px; font-weight: bold; margin-top: 6px;}
#section1_category .section1_span{width: auto; height: 26px; color: #b1b1b1; font-size: 14px; margin-top: 6px; font-weight: 900;}
#section1_category select{width: auto; height: 26px; border: 1px solid #b1b1b1; background-color: #ffffff; color: #505050;}
#section1_category button{display: inline-block; width: 106px; height: 26px; background-color: #295B37; border: none; color: #fff; cursor: pointer;}
#section1_main{width: 960px; height: 450px; display: flex; flex-direction: row; }
#section1_thumbnailbox{width: 198px; height: 381px; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; }
#section1_thumbnail{width: 198px; height: 279px;}
#section1_thumbnail img{width: 100%; height: 100%;}
#section1_thumbnailbox button{width: 198px; height: 32px; border: 1px solid #dcdcdc; color: #333; background-color: white; cursor: pointer;}
#section1_thumbnailbox button:hover{color: #295B37; border: 1px solid #295B37;}
#section1_textbox{width: 456px; height: 432px; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; }
#section1_textbox1{width: 456px; height: 130px; display: flex; flex-direction: column; justify-content: space-evenly; border-bottom: 1px solid #dcdcdc;}
.section1_title{color: black; font-size: 22px; width: 456px; }
#sobox{width: 456px; height: 59px; display: flex; flex-direction: column; justify-content: space-evenly;}
#so{width: 60px; height: 19px; border: 1px solid #cccc; color: #666666; background-color: #ffffff; font-size: 11px; margin-left: 0;}
.section1_span,.section1_datetime,.section1_isbn{color: #7d7d7d7d; font-size: 14px;}
.section1_authors,.section1_publisher{color: #3a3a3a;}
.section1_authorsbox{width: 456px; height: 18px;}
.section1_textinfo{width: 456px; height: 22px;}
.section1_textinfo span{color: #7d7d7d7d; font-size: 14px;}
#section1_pricebox{width: 456px; height: auto; border-bottom: 1px solid #dcdcdc; padding-bottom: 8px;}
#pricebox1{width: 456px; height: 27px; display: flex; flex-direction: row; align-items: center;}
#pricebox1 div{width: 370px; height: auto;}
#pricebox2{width: 456px; height: 27px; display: flex; flex-direction: row; align-items: center;}
#pricebox2 div{width: 370px; height: 27px;}
#pricebox3{width: 456px; height: 27px; display: flex; flex-direction: row; align-items: center;}
#pricebox3 div{width: 370px; height: auto; }
#pricebox3 div span{width: 26.75; height: 17; font-size: 14px; color: #666666; font-weight: bold;}
#pricebox4{width: 456px; height: 63px; display: flex; flex-direction: row; align-items: center; margin-top: 5px;}
.pricebox4_spantitle{width: 70px; height: 63px;}
#pricebox4_btnbox{width: 370px; height: 63px; display: flex; flex-direction: column;}
.pricebox4_span{width: 370px; color: #da4445; font-size: 14px;}
#pricebox4_btnbox div{width: 370px;  margin-top: 5px;}
#pricebox4_btnbox div button{width: auto; height: 23px; border: 1px solid #cdcdcd; background-color: #fff; color: #666666; margin-right: 10px; padding: 0 10px; cursor: pointer;}
#pricebox4_btnbox div button:nth-of-type(2):hover{text-decoration: underline;}
#pricebox5{width: 456px; height: 26px; margin-bottom: 5px;}
#pricebox5 span{font-size: 14px; width: auto; color: #7d7d7d;}
#pricebox5 button{width: 76px; height: 26px; border: none; background-color: #da4445; color: #fff; cursor: pointer;}
#pricebox5 button:hover{text-decoration: underline;}
.pricebox_title{font-size: 14px; color: #7d7d7d7d; width: 70px; margin-left: 0;}
.price1{font-size: 14px; color: #888;}
.price2{font-size: 22px; color: #ff0909; font-weight: bold;}
#section1_pricebox a{font-size: 14px; color: #da4445; text-decoration: underline;}
#naverbox{width: 456px; height: 59; display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-left: 0px;}
#naver_btnbox{width: 277px; height: 59; display: flex; flex-direction: row; align-items: center;}
#naver_btn1{width: 76px; height: 36px; }
#naver_btn1 img{width: 100%; height: 100%; cursor: pointer;}
#naver_btn2{width: 151px; height: 37px; background-color: #00c73c; border-color: #00bd39; text-align: center; margin-left: -10px;}
#naver_btn2 img{width: 50%; height: 100%; cursor: pointer;}
#naver_btn3{width: 37px; height: 37px; display: flex; align-items: center; justify-content: center; color: #00c73c; font-size: 14px; font-weight: bold; border: 1px solid #cdcdcd; background-color: #fcfcfc;
    margin-left: 10px; cursor: pointer}
#naver_btnbox2{width: 116px; height: 40px;  background-color: #fff; border: 1px solid #cdcdcd; cursor: pointer; margin-left: 80px;}
#naver_btnbox2:hover{border: 1px solid #1ebb00;}
#naver_btnbox2 span:first-child{width: 54.7px; height: 10px; color: #1ebb00; font-size: 11px;}
#naver_btnbox2 span:nth-child(3){width: 89.53; height: 10px; color: #818181; font-size: 11px; font-weight: bold;}

#section1_btnbox{width: 230px; height: 351.41px; display: flex; flex-direction: column;justify-content: space-evenly; align-items: center; background-color: #f2f2f2;}
#btnbox_input{width: 170px; height: 50px; display: flex; flex-direction: row; align-items: center; border-bottom: 1px solid #dcdcdc;}
#btnbox_input span{width: 56px; height: 18px; font-size: 14px; color: #505050;}
#btnbox_input input{width: 86px; height: 26px; text-align: right; border: 1px solid #dcdcdc; background-color: #fff;}
#btnbox_input input:focus{background-color: #fff; outline: none;}
#btnbox_btns{width: 170px; height: 255px; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;}
#btnbox_btns div{width: 170px; height: 52px; display: flex; align-items: center; } 
#btnbox_btns div a{font-size: 16px; color: #fff; font-weight: bold;}
#btnbox_btns div a:hover{text-decoration: underline;}
#btnbox_btns div:first-child{background-color: #da4444;}
#btnbox_btns div:nth-child(2){background-color: #266444;}
#btnbox_btns div:nth-child(3){background-color: #39a875;}
#btnbox_btns div:nth-child(4){background-color: #fff; border: 1px solid #cdcdcd ;}
#btnbox_btns div:nth-child(4) a{color: #666;}
#section1_info{width: 960px; height: 62px; }
#section1_info table{width: 960px; height: 62px; border: 1px solid #dcdcdc;}
#section1_info table tr td span{margin-left: 20px; color: #897e6e; font-size: 14px;}
#section1_info table tr th{width: 176px; height: 31px; text-align: center; font-size: 14px; color: #8e7d73; font-weight: bold; background-color: #f2f0e9; border-right: 1px solid #dcdcdc;}

.section1_end{width: 960px; height: 1px; background-color: #dcdcdc; position: unset;}

.section2{width: 960px; height: 346px; border-bottom: 1px solid #dcdcdc;}
.section2 span:nth-of-type(1){font-size: 18px; color: #3a3a3a; font-weight: bold;}  
#section2_container{width: 960px; height: 328px; display: flex; flex-direction: column; justify-content: space-evenly; }
.section2_thumbnail{width: 960px; height: 200px; }
.section2_thumbnail img{width: 140px; height: 200px; border:1px solid #dcdcdc;}
#section2_container p{width: 960px; height: 18px; font-size: 14px; color: #333; margin-top: -20px;}
#section2_container span{width: 960px; height: 24px; font-size: 12px; color: #8c8c8c; margin-top: -28px;}



.section3{width: 960px; height: 3000px; display: flex; flex-direction: row; justify-content: space-evenly; background-color: cadetblue;}
#section3_left{width: 718px; height: 2482px; background-color:lightcoral;}
.section3_btnbox{width: 718px; height: 40px; display: flex; flex-direction: row; justify-content: center; align-items: center; background-color: #fff;}
.section3_btnbox div{width: 118px; height: 40px; border: 1px solid #dcdcdc;  display: flex; justify-content: center; align-items: center; overflow: hidden;} 
.section3_btnbox div .btn_a{width: 118px; height: 40px; color: #333; font-size: 14px; text-align: center; margin-top: -12px;}
.active{background-color: #295B37; color: #fff;}
.active a{width: 118px; height: 40px; color: #fff; font-size: 14px; text-align: center; margin-top: -12px;}
#section3_left1{width: 718px; height: 300px; background-color: mediumpurple;}

#section3_right{width: 220px; height: 1200px; display: flex; flex-direction: column; justify-content: space-evenly; background-color: lightgoldenrodyellow;}
#section3_right1{width: 220px; height: 583px; background-color: lightgreen;}
#section3_right2{width: 220px; height: 583px; background-color: lightskyblue;}